.testingSectionWrap {
  width: 48%;
}

.testingSectionWrap [class*='sectionLeft'],
.testingSectionWrap [class*='sectionRight'] {
  width: 100%;
}

.testingSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testHeading {
  font-size: var(--font-size-heading2);
  color: var(--color-gray-0);
  text-align: center;
}

.testType {
  font-size: var(--font-size-heading3);
  color: var(--color-gray-0);
  text-align: center;
  margin-bottom: 24px;
}

.testSpeed {
  font-size: var(--font-size-heading1);
  color: var(--color-gray-0);
  font-weight: bold;
  line-height: 1.05;
  text-align: center;
}

.onlyTestingSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1020px) {
  .testingSectionWrap {
    width: 100%;
  }
}