
.address [class*='ant-input']:hover,
.address [class*='ant-input']:focus {
  border-color: var(--color-button-hover);
}

/* Make input box full width */
.address [class*='ant-input'] {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 4px 11px;
  color: var(--color-gray-9);
}