.ooklaLoading {
  height: 100px;
  position: relative;
  margin-bottom: 24px;
}

@keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

.wifiSymbol [foo],
.wifiSymbol{
  display: block;
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: -115px;
  transform: rotate(-45deg) translate(-100px);
}

.wifiCircle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* display: block; */
  width: 100%;
  height: 100%;
  font-size: 14.2857142857px;
  position: absolute;
  bottom: 0;
  left: 30px;
  border-color: var(--color-subheading);
  border-style: solid;
  border-width: 1em 1em 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  animation: wifianimation 3s infinite;
}

.wifiCircle:nth-child(1) {
  animation-delay: 1200ms;
}

.wifiCircle:nth-child(2) {
  width: 5em;
  height: 5em;
  animation-delay: 800ms;
}

.wifiCircle:nth-child(3) {
  width: 3em;
  height: 3em;
  animation-delay: 400ms;
}

.wifiCircle:nth-child(4) {
  width: 1em;
  height: 1em;
}