.container {
  composes: container from 'components/Test/TestWrapper.module.css';
}

.surveyWrap {
  width: 100%;
  max-width: var(--section-max-width);
  position: relative;
  padding: 120px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Before survey style (address entry)*/
.beforeSurveyWrap {
  width: 100%;
  max-width: var(--section-max-width);
  padding: 120px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beforeSurveyDescription {
  font-size: var(--font-size-body1);
  color: var(--color-blue-10);
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}