.takeTest {
  max-width: 200px;
  position: relative;
  background-color: var(--color-button);
  border: none;
}

.big {
  height: auto;
  padding: 15px 20px;
  font-size: 24px;
  font-weight: 700;
}

.takeTest:hover,
.takeTest:focus {
  background-color: var(--color-button-hover) !important;
  border: none;
}