.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--section-padding);
    background-color: var(--color-footer);
    /* min-height: 80vh; */
}

.logo img {
max-height: 75px;
}
  
.title h1{
    color: white;
    font-weight: 700;
    line-height: 1.05;
    margin-bottom: 36px;
}

.description p{
    color: white;
}

.sectionRight {
    width: calc(50% - 24px);
    display: flex;
    flex-direction: column;
    position: relative;
    /* left: 80px; */
    justify-content: space-between;
}
@media screen and (max-width: 1020px) {
  .sectionRight {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
}
@media screen and (max-width: 662px) {
    .footer {
        padding: 24px;
    }
}