:root {
	/* color styles */
	--color-magenta-1: rgba(251,2,120,1);
	--color-green-1: rgba(77,223,221,1);
	--color-green-2: rgba(0, 185, 41, 1);
  --tribal-blue: #048FB0;
	--color-blue-1: rgba(244,247,251,1);
	--color-blue-2: rgba(240,246,255,1);
	--color-blue-3: rgba(229,241,255,1);
	--color-blue-4: rgba(199,223,255,1);
	--color-blue-5: rgba(158,200,255,1);
	--color-blue-6: rgba(62,137,237,1);
	--color-blue-7: rgba(89,144,217,1);
	--color-blue-8: rgba(64,114,179,1);
	--color-blue-9: rgba(43,85,140,1);
	--color-blue-10: rgba(31,62,102,1);

  --color-blue-6-hover: #69ADFA;

	--red: #dd5566;
	--color-red-1: rgba(221, 85, 102, 0.3);
	--color-red-2: rgba(221, 85, 102, 0.6);
	--color-red-3: rgba(221, 85, 102, 1);
	--orange: #FFBA69;
	--color-orange-1: rgba(255, 186, 105, 0.3);
	--color-orange-2: rgba(255, 186, 105, 0.6);
	--color-orange-3: rgba(255, 186, 105, 1);
	--yellow: #fdcb6e;

	--color-gray-0: #FFFFFF; /* light bg */
	--color-gray-1: #FAFCFF; /* light bg */
	--color-gray-2: #F0F4FF; /* table header */
	--color-gray-3: #E9ECF7; /* background */
	--color-gray-4: #DDE0EB; /* divider */
	--color-gray-5: #D1D3DE; /* border */
	--color-gray-6: #ADB3D2; /* disable */
	--color-gray-7: #8489AB; /* secondary text */
	--color-gray-8: #5F6385; /* primary text */
	--color-gray-9: #3F415E; /* title/UI text */
	--color-gray-10: #252638; /* - */

  --color-black: #0E1D30;

	--mapBackgroundTransparent: rgba(0, 0, 0, 0.75);

  --color-served: #B8C0CC;
  --color-underserved: #3E89ED;
  --color-unserved: #FB0278;

	/* font sizes */
  --font-size-body0: 20px;
	--font-size-body1: 18px;
	--font-size-body2: 16px;
	--font-size-body3: 14px;
	--font-size-heading1: 48px;
	--font-size-heading2: 38px;
  --font-size-heading3: 28px;
  --font-size-heading4: 22px;
	--font-size-icon: 24px;

	/* borders */
	--border-radius: 8px;

	/* section */
	--section-padding: 32px;
	--section-max-width: 1200px;
	--section-content-padding: 130px 0;
	--section-blurb-margin: 48px;
  --how-it-works-section-content-padding: 72px 0;
  --how-it-works-faq-section-max-width: 960px;

  /* resource */
  --max-width: 912px;
  --resource-section-padding-big: 48px 36px;
  --resource-section-padding-small: 36px 16px;
  --card-width: 912px;

  --shadow-01: 0px 3px 4px 0px rgb(236, 236, 236);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--color-gray-1);
}

/******************* Landscape Background *******************/

.landscape {
  width: 100vw;
  height: 205px;
  position: fixed;
  bottom: 0;
  transition: opacity .25s cubic-bezier(.45,.01,.45,.95);
  overflow: hidden;
  z-index: -1;
}

@media all and (min-width: 1600px) {
  .landscape {
    height: 250px;
  }
}

@media all and (max-width: 1300px) and (max-height: 920px) {
  .landscape {
    height: 190px;
  }
}

@media all and (max-width: 900px) {
  .landscape {
    height: 150px;
  }
}

@media all and (max-width: 710px) {
  .landscape {
    height: 108px;
  }
}

@media all and (max-width: 500px) {
  .landscape {
    display: none;
  }
}

@media all and (max-height: 500px) {
  .landscape {
    display: none;
  }
}

/******************* How Background *******************/

@keyframes scaleIn {
  from {
    transform: scale(.8, .8);
    opacity: 1;
  }
  to {
    transform: scale(2, 2);
    opacity: 0;
  }
}

.bgCircleContainer {
  width: 100%;
  height: 550px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-Y: auto;
  -webkit-perspective: 100px;
  perspective: 100px;
}

.circle {
  border-radius: 60%;
  background-color: var(--color-light-accent);
  mix-blend-mode: screen;
  width: 270px;
  height: 270px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 8s infinite ease-in-out;
  overflow: visible;
}

.circle:nth-child(1) {
  animation-delay: 0s;
}

.circle:nth-child(2) {
  animation-delay: 2s;
}

.circle:nth-child(3) {
  animation-delay: 4s;
}

.howImage {
  width: 540px;
  height: 550px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 2;
  overflow: hidden;
}

@media screen and (max-width: 568px) {
  .bgCircleContainer,
  .howImage {
    height: auto;
  }
  
  .circle {
    display: none;
  }
}

/******************* General *******************/

#history, #results, #ookla-test, #survey-instructions, #router-warning,
#survey-container, #end-links, #history-empty, #test, #methodology, #error, #address, #ookla-loading, #checklist, #same-setup, #no-service, #individual-survey-container, #end-of-survey-message, #phone-warning {
  display: none;
}

i {
  color: inherit;
}

.hidden {
  visibility: hidden;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 4em;
  width: 100%;
}

.section-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 64px 32px 32px 32px;
}

.hero-section-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  max-width: var(--section-max-width);
  width: 100%;
  margin: 0 auto;
  padding: var(--section-padding) 0;
}

.background-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: var(--color-gray-0);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-01);
  padding: var(--section-padding);
  gap: 2em;
}

.wide-background-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-0);
  border-radius: var(--border-radius);
  padding: var(--section-padding);
  box-shadow: var(--shadow-01);
  gap: 2em;
}

.section-left {
  flex-grow: 1;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  position: relative;
  gap: 2em;
}

.section {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: var(--section-max-width);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4em;
}

.main-heading {
  font-size: var(--font-size-heading1);
  color: var(--color-heading);
  font-weight: bold;
  line-height: 1.05;
}

.small-heading {
  color: var(--color-subheading);
  font-size: var(--font-size-heading2);
  font-weight: bold;
}

.section-heading {
  font-size: var(--font-size-heading2);
  text-align: center;
  font-weight: 700;
  line-height: 1.05;
}

.section-subheading {
  font-weight: 700;
  font-size: var(--font-size-heading3);
}

.section-description {
  font-size: var(--font-size-body1);
  color: var(--color-subheading);
  font-weight: normal;
}

ul li {
  list-style: none;
}

.button {
  min-width: 100px;
  width: max-content;
  padding: 15px 20px;
  background:  var(--color-button);
	border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: var(--color-gray-0);
  font-weight: bold;
}

.survey-button {
  min-width: 100px;
  width: max-content;
  padding: 15px 20px;
  background: transparent; 
  border: 2px solid var(--color-button);
  color: var(--color-button);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}


.survey-button:hover {
  background: var(--color-button-hover);
  color: var(--color-gray-0);
  border: 2px solid  var(--color-button-hover);
}

.button:hover {
  background:  var(--color-button-hover);
}

.background-container .button {
  align-self: flex-end;
}

.underline-button {
  text-decoration: none;
  font-size: var(--font-size-body2);
  color: var(--color-subheading);
}

.underline-button:hover {
  text-decoration: underline;
}

.survey-question {
  font-weight: 700;
  font-size: var(--font-size-heading4);
  color: var(--color-subheading);
}

.test-heading {
  font-size: var(--font-size-heading2);
  color: var(--color-heading);
  text-align: center;
}

.test-subheading {
  font-size: var(--font-size-heading3);
  color: var(--color-subheading);
  text-align: center;
}

.test-speed {
  font-size: var(--font-size-heading1);
  color: var(--color-text);
  font-weight: bold;
  line-height: 1.05;
  text-align: center;
}

/******************* Header *******************/

.header-container {
  padding: 16px 0;
  width: 100%;
  max-width: var(--section-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
}

.language-container {
  margin-right: -50px;
}
  
.menu a,
.nav-container > a {
  margin: 0 12px !important;
  font-size: var(--font-size-body1);
  color: var(--color-nav-text);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.nav-container > a {
  padding: 20px 0;
}

.menu a {
  line-height: 40px;
}

.menu a:hover,
.nav-container > a:hover {
  border-bottom: 2px solid var(--color-button-hover);
  text-decoration: none;
}

.share-buttons-header {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  gap: 5px;
  margin: 0 12px;
}
  
.share-buttons-header a {
  font-size: 30px;
  margin: 4px !important;
  color: var(--color-accent);
}

.get-your-own-btn {
  font-weight: 700;
  cursor: pointer;
}

.icon-gray{
  font-size: 24px;
  color: var(--color-gray-7) !important;
}

.icon-gray:hover {
  color: var(--color-button-hover) !important;
}

.menu-item {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: var(--color-gray-1);
  text-decoration: none;
}

.menu-item:hover {
  text-decoration: underline;
}

.hamburger {
  position: absolute;
  z-index: 100;
  top: 34px;
  right: 14px;
  padding: 4px;
  border: var(--color-blue-9) solid 1px;
  border-radius: 4px;
  background: white;
  cursor: pointer;
}

.close-icon {
  display: none;
}

.menu {
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: -5px;
  right: 0;
  z-index: 99;
  padding: 24px;
  background-color: var(--color-gray-0);
  border-radius: 8px;
  transition: all .3s ease-out;
  box-shadow: var(--shadow-01);
  list-style: none;
}

.show-menu {
  transform: translateY(0);
}

.logo-img {
  max-height: 90px; 
  max-width: 400px; 
  min-height: 50px; 
  min-width: 100px;
}

/***************** Why Section ******************/

.why-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.why {
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
}

.why-icon-verb {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  color: var(--color-gray-0);
}

.why-icon {
  color: var(--color-gray-0);
  margin-right: 8px;
}

.verb {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-gray-1);
}

.blurb {
  font-weight: 300;
  font-size: var(--font-size-body1);
  line-height: 21px;
  color: var(--color-gray-0);
}

/******************* Footer *******************/

.gray {
  color: var(--color-gray-1) !important;
  margin: 4px;
  font-size: 24px
}

.footer-section {
  max-width: 384px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2em;
}

.footer-section a {
  font-size: var(--font-size-body2);
  color : var(--color-gray-0); 
  cursor: pointer;
  text-decoration: none;
} 

.footer-section a:hover {
  color: var(--color-light-accent);
}

.footer-section  ul li,
.footer-Section  ul li {
  list-style: none;
  padding: 12px 24px 12px 16px;
}

.section-top {
  width: 100%;
  max-width: var(--section-max-width);
  display: flex;
  flex-flow: row wrap;
  row-gap: 3rem;
  justify-content: space-between;
  padding-bottom: 130px;
}

.section-bottom {
  max-width: var(--section-max-width);
  display: flex;
  flex-flow: row wrap;
  row-gap: 1rem;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  color: var(--color-gray-1);
  font-size: var(--font-size-body3);
}

.social-link {
  display: flex;
  justify-content: center;
  padding: 12px 24px 12px 16px;
}

.button-container {
  display:flex;
  align-items: center;
  position: relative;
  right: 0;
  max-width: 288px;
  max-height: 48px;
  background: var(--color-gray-0);
  border: 2px solid var(--color-accent);
  border-radius: 24px !important;
  transition: 0.5s;
}

.button-get-alert {
  width: 100px;
  height:40px;
  position: absolute;
  right:0;
  background: #E6F1FF;
  border-radius: 24px !important; 
  border: 2px solid #E6F1FF; 
  font-weight:bold ;
  font-size: var(	--font-size-body3);
  color: var(--color-text);
  cursor: pointer;
  transition: 0.5s;
}

.button-get-alert:hover{
  background: var(--color-button-hover);
  border: 2px solid var(--color-button-hover);
  color: #FFFFFF
}

.button-container .button-get-alert:focus {
  outline: none;
}

.input-email {
  border: none;
  border-radius: 24px;
  width: 288px;
  height: 40px;
  padding-left: 15px;
  padding-right: 10px;
  transition: 0.5s;
}

.input-email:focus{
  border:none;
  outline: none;
}

.input-email:active {
  border:none;
  outline: none;
}

/******************* Pre-test *******************/

input[type="checkbox"] { 
  position: absolute;
  width: 25px;
  height: 25px;
  accent-color: var(--color-accent)
}

input[type="checkbox"] ~ label { 
  padding-left: 2em;
  display: inline-block;
  color: var(--color-text);
  font-size: 18px;
}

.checklist-progress-bar {
  width: 30%; 
  margin: auto; 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}

.checklist-dash {
  width: 10px; 
  height: 2px; 
  margin-left: 5px; 
  margin-right: 5px; 
  background-color: var(--color-gray-3);
}

.checklist-circle {
  max-width: 24px;
  width: 24px; 
  height: 24px; 
  border-radius: 50%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-size: 12px; 
  background-color: var(--color-gray-3);
  color: var(--color-gray-6);
}

.checklist-colored-circle {
  color: var(--color-gray-0);
  background-color: var(--color-accent);
}

.checklist-uncolored-circle {
  background-color: var(--color-gray-3);
  color: var(--color-gray-6);
}

.progress-step {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
}

.checklist-question {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    width: fit-content; 
    margin: 20px auto; 
    color: var(--color-text);
}
.checklist-header {
    font-size: 20px; 
    margin-bottom: 10px;
} 

.checklist-subheader {
    font-size: 16px; 
    margin-bottom: 10px;
} 

.checklist-answer-row {
    display: flex; 
    flex-direction: row; 
    width: fit-content; 
    margin: 20px auto;
    color: var(--color-text);
    font-weight: normal;
}

.answer-option {
    border: solid 1px rgba(17 14 76 / 20%);
    padding: 1px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-right: 20px; 
    cursor: pointer;
}

.selected-answer {
    border: solid 2px var(--color-accent);
    font-weight: bolder;
    padding: 0;
}

.checklist-icon {
    margin-bottom: 10px;
}

.icon-text {
    font-size: 16px;
}

/* Addres entry*/
.address {
  font-size: var(--font-size-body1);
  color: var(--color-text);
}

#autocomplete {
  width: 94%;
}

/* Hide 'powered by Google' */
.pac-container:after {
  background-image: none !important;
  height: 0px;
}

/* Phone number entry*/
.phone-number-container {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-start; 
}

#phone-warning {
  display: none;
  color: var(--color-red-3);
}

input[type="tel"] {
  padding: 0 12px;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  width: 500px;
  height: 56px;
  font-size: var(--font-size-body1);
  color: var(--color-text);
}

 /* Hide google translate link | logo */
.goog-logo-link{
  display:none!important;
}

.goog-te-gadget{
  color:transparent!important;
}

#google_translate_element select {
  background: var(--color-gray-1);
  color:var(--color-nav-text);
  border: 2px solid var(--color-nav-text);
  border-radius:3px;
  padding:6px 8px;
  width: 140px;
}

#goog-gt-tt, .goog-te-balloon-frame{
  display: none !important;
}

.goog-text-highlight { 
  background: none !important; box-shadow: none !important;
}

.address input[type=text], .address textarea {
  width: 94%;
  height: 56px;
  padding: 0 12px;
  font-size: var(--font-size-body1);
  background-color: var(--color-gray-0);
  border: 1px solid var(--color-text);
  border-radius: 4px;
  color: var(--color-text)
}

#address-warning {
  display: none;
  margin-top: 8px;
  color: var(--color-red-3)
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--color-background3);
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 450px;
  background-color: var(--color-background3);
  color: var(--color-gray-0);
  padding: 20px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -225px; /* Use half of the width to center the tooltip */
  text-align: left;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-background3) transparent transparent  transparent;
}
  
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ethernet-image {
  margin-left: 140px;
  margin-top: 10px;
}

.router-image {
  margin-left: 140px;
}

/******************* Survey *******************/

.list input, .list label, .list span, .list select {
  font-size: var(--font-size-heading4);
  padding: 8px;
  margin-bottom: 6px;
  color: var(--color-text);
}

.list select {
  font-size: var(--font-size-body1);
  min-width: 130px;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  float: right;
}

.list span {
  min-width: 50%;
  float: left;
  clear: both;
}

.list input[type=text], .list textarea {
  width: 94%;
  height: 56px;
  padding: 0 12px;
  font-size: var(--font-size-body1);
  background-color: var(--color-gray-0);
  border: 1px solid var(--color-text);
  border-radius: 4px;
}

textarea {
  resize: none;
}

.list textarea {
  width: 94%;
  height: 100px;
  padding: 10px 12px;
  font-size: var(--font-size-body1);
  background-color: var(--color-gray-0);
  border: 1px solid var(--color-text);
  border-radius: 4px;
}

.list input[type=number] {
  width: 50px;
  height: 40px;
  padding: 0 12px;
  float: right;
  clear: both;
  margin-right: 50px;
  font-size: var(--font-size-body1);
  background-color: var(--color-gray-0);
  border: 1px solid var(--color-text);
  border-radius: 4px;
}

.list span + input[type=number] {
  float: none;
}

.list input[type=text]:hover,
.list input[type=text]:focus,
.list input[type=number]:hover,
.list input[type=number]:focus {
  border: 1px solid var(--color-accent);
}

.list input[type=radio] {
  border: 0px;
  width: 40px;
  height: 1em;
  vertical-align: middle;
  accent-color: var(--color-accent);
  float: left;
}

input[type=radio] ~ label {
  margin-left: 30px;
  display: block;
  padding: 0;
}

.progress-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.progress-row div {
  white-space: nowrap;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--color-gray-4);
}

progress[value]::-webkit-progress-value {
  background-color: var(--color-accent);
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/******************* Ookla load *******************/

#ookla-loading {
  height: 100px;
  position: relative;
}

.wifi-symbol {
  display: none;
}

.wifi-symbol [foo], .wifi-symbol {
  display: block;
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: -115px;
  -ms-transform: rotate(-45deg) translate(-100px);
  -moz-transform: rotate(-45deg) translate(-100px);
  -o-transform: rotate(-45deg) translate(-100px);
  -webkit-transform: rotate(-45deg) translate(-100px);
  transform: rotate(-45deg) translate(-100px);
}

.wifi-symbol .wifi-circle {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14.2857142857px;
  position: absolute;
  bottom: 0;
  left: 30px;
  border-color: var(--color-background1);
  border-style: solid;
  border-width: 1em 1em 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  -o-animation: wifianimation 3s infinite;
  -moz-animation: wifianimation 3s infinite;
  -webkit-animation: wifianimation 3s infinite;
  animation: wifianimation 3s infinite;
}

.wifi-symbol .wifi-circle.first {
  -o-animation-delay: 1200ms;
  -moz-animation-delay: 1200ms;
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}

.wifi-symbol .wifi-circle.second {
  width: 5em;
  height: 5em;
  -o-animation-delay: 800ms;
  -moz-animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.wifi-symbol .wifi-circle.third {
  width: 3em;
  height: 3em;
  -o-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.wifi-symbol .wifi-circle.fourth {
  width: 1em;
  height: 1em;
}

@-o-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-moz-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}
@-webkit-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

/******************* Load bar *******************/

@keyframes mlab-animation {
  0%   {left: 0px;}
  25%  {left: 0px;}
  50%  {left: 0px;}
  100% {left: 5px;}
}

@keyframes ookla-animation {
  0%   {left: 125px;}
  25%  {left: 125px;}
  50%  {left: 130px;}
  100% {left: 130px;}
}

@keyframes rst-animation {
  0%   {left: 245px;}
  25%  {left: 255px;}
  50%  {left: 255px;}
  100% {left: 255px;}
}

.load-label {
  position: absolute;
  left: 15px;
  font-size: var(--font-size-body2);
}

#load-bar {
  width: 390px;
  height: 30px;
  position: relative;
}

.load-bar-shape a {
  text-decoration: none;
}

#mlab-load-bar {
  width: 120px;
  border-left: none;
  animation-name: mlab-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#mlab-load-bar:after {
  top: 0;
  left: 120px;
}

#mlab-load-bar > .load-label {
  left: 40px;
}

#ookla-load-bar {
  margin-left: 20px;
  animation-name: ookla-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#ookla-load-bar:after {
  top: 0;
  left: 100px;
}

#ookla-load-bar:before {
  top: 0;
  left: -20px;
}

#rst-load-bar {
  margin-left: 20px;
  animation-name: rst-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#rst-load-bar:before {
  top: 0;
  left: -20px;
}

#rst-load-bar:after {
  top: 0;
  left: 100px;
}

.load-bar-shape {
  position: absolute;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.load-bar-shape:before {
  position: absolute;
	content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
}

.load-bar-shape:after {
  position: absolute;
	content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.load-bar-started {
  background-color: var(--color-accent);
}

.load-bar-started:before {
  border-top: 15px solid var(--color-accent);
	border-bottom: 15px solid var(--color-accent);
}

.load-bar-started:after {
  border-left: 20px solid var(--color-accent);
  color: var(--color-text);
}

.load-bar-not-started {
  background-color: var(--color-gray-4);
  color: var(--color-text);
}

.load-bar-not-started:before {
  border-top: 15px solid var(--color-gray-4);
	border-bottom: 15px solid var(--color-gray-4);
}

.load-bar-not-started:after {
  border-left: 20px solid var(--color-gray-4);
}

.load-bar-started > .load-label {
  color: var(--color-gray-0);
}

.load-bar-not-started > .load-label {
  color: var(--color-text);
}

/******************* Colors *******************/

.white, .white * {
  color: var(--color-gray-0);
}

.default-color {
  color: var(--color-text);
}

/******************* Test *******************/

.remind-me-container {
  position: relative;
  max-width: 400px;
  height: 48px;
  border: 1px solid #323A46;
  border-radius: 4px;
  padding: auto;
}

.remind-me-container input{
  font-size: 16px;
  line-height: 24px;
  color: #4B5768;
}

.remind-me-button {
  position: absolute;
  right: -1px;
  top: -1px;
  height: 48px;
  padding: 12px 24px;
  background: var(--color-button);
  border: 2px solid var(--color-button);
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.remind-me-button:hover {
  background: var(--color-button-hover);
  border: 2px solid var(--color-button-hover);
}

.remind-email {
  margin-left: 8px;
  margin-top: 12px;
  width: 240px;
}

/******************* Results *******************/

#results {
  align-items: flex-start;
}

#results .section-right {
  width: 60%;
}

#results .section-left {
  max-width: 600px;
  margin-top: 5em;
}

.test-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.test-title h3 {
  font-weight: 600;
  color: var(--color-text);
}

.large-result-tag {
  padding: 6px 12px;
  border-radius: 4px;
}

.result-tag {
  padding: 4px 10px;
  font-size: var(--font-size-body3);
  border-radius: 4px;
}

.result-tag-unserved {
  background-color: #FFF1F0;
  border-color: #FFA39E;
  color: #CF1322;
  width: fit-content;
}

.result-tag-underserved{
  background-color: #FFF7E6;
  border-color: #FFD591;
  color: #D46B08;
  width: fit-content;
}

.result-tag-served {
  background-color: #F6FFED;
  border-color: #B7EB8F;
  color: #389E0D;
  width: fit-content;
}

.results-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 2em;
}

.results-card {
  height: 100%;
  min-height: 110px;
  background-color: var(--color-blue-1);
  border-radius: 4px;
  padding: 12px;
}

.results-card-title {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.results-card-title img {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.results-card-title h4 {
  font-size: var(--font-size-body3);
  color: var(--color-gray-7);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}

.speed-result {
  height: 34px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color:var(--color-text);
}

.service-status {
  font-size: 14px;
  color: var(--color-gray-8);
}

.see-more-button {
  font-size: var(--font-size-body3);
  color: var(--color-gray-6);
}

.see-more-button:hover {
  cursor: pointer;
}

#more-results {
  margin-top: 2em;
  display: none;
}

.beta {
  font-size: var(--font-size-body3);
  color: var(--color-accent)
}

.share-buttons {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  align-items: center;
  color: var(--color-text);
}
  
.share-buttons a {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color-text);
}

/******************* History *******************/

#history-table tr:not(:first-child) {
  cursor: pointer;
}

#history-table  tr:not(:first-child):hover {
  text-decoration: underline;
}

#load-more-btn {
  display: none;
  align-self: flex-end;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  color: var(--color-subheading);
}

.table tr:nth-child(even){
  background: var(--color-light-accent);
}

.table tbody tr {
  color: var(--color-text);
}

.table th, .table td {
  text-align: left;
  padding: 0.8rem 0.5rem;
}

.table th {
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--s-font);
  font-weight: bold;
}

.table td {
  font-size: var(--s-font);
  color: var(--color-text);
}

.table-results {
  color: var(--color-text);
}

.units {
  font-size: var(--font-size-body3);
  font-weight: normal;
  color: var(--color-gray-7);
  margin-left: 4px;
}

/***************** Map Section ******************/

#map-container .section-description {
  text-align: center;
}

.map {
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.section-container-map {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.map-overlay {
  overflow: auto;
  position: absolute;
  width: 100%;
}

.legend {
  overflow: auto;
  position: absolute;
  right: 0px;
  background: rgb(255 255 255 / 50%);
  padding: 12px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  float: right;
  margin-right: 24px;
  margin-top: 24px;
  font-size: 12px;
  color: var(--color-gray-8);
  border-radius: 4px;
}

.legend-item:not(:last-child) {
  margin-bottom: 10px;
}

.legend-item-icon {
  width: 10px;
  height: 10px;
  background: red;
  display: inline-block;
  margin-right: 5px;
}

/***************** Map Statistics ******************/

.statistics {
  overflow: auto;
  position: absolute;
  left: 0px;
  background: rgb(255 255 255 / 75%);
  padding: 24px 12px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  float: left;
  margin-left: 24px;
  margin-top: 24px;
  font-size: 12px;
  color: var(--color-gray-8);
  border-radius: 4px;
  text-align: center;
  max-height: 65vh;
}

.statistics-container-title {
  padding-bottom: 24px;
}

.section-container-statistics {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.section-container-pie-chart {
  padding-top: 24px;
  display: grid;
  justify-items: center;
}

.statistics-value {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}

.statistics-text {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.pie-chart-percentage {
  font-size: 36px;
  font-weight: bold;
  fill: var(--color-text);
}

.pie-chart-text {
  font-size: 12px;
  fill: var(--color-text);
}

.click-to-expand {
  color: var(--color-gray-7);
}

.back-to-overall {
  color: var(--color-gray-7);
  margin-bottom: 12px;
}

.back-to-overall:hover {
  color: var(--color-button-hover);
  cursor: pointer;
}

.per-county-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 12px;
  column-gap: 12px;
}

.per-county-results-card-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.per-county-speed-result {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.per-county-result {
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: var(--color-text);
}

.results-card-icon {
  padding-right: 5px;
}

/******************* Responsiveness *******************/

@media all and (max-width: 1180px) {
  #landing {
    align-items: center;
  }

  #landing * {
    text-align: center;
  }

  #landing + .section-right {
    width: 0
  }

  .section .row-container {
    flex-direction: column;
    max-width: 100%;
    gap: 2em;
  }

  .section {
    width: 100%;
    max-width: 700px;
  }

  .section-left {
    width: 100%;
  }

  .section-right {
    width: 100%;
  }
}

@media all and (max-width: 1140px) {
  #load-bar {
    display: none;
  }
}

@media all and (max-width: 1090px) {
  #results {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  #results .section-right {
    width: auto;
  }
  
  #results .section-left {
    margin-top: 0;
  }

  #test-section .landscape {
    display: none;
  }
}

@media all and (max-width: 1000px) {
  #test {
    flex-direction: column-reverse;
    align-items: center;
  }

  #test .section-right {
    align-items: center;
  }
}

@media only screen and (min-width: 1140px) {
  .hamburger, .menu {
    display: none;
  }
}

@media only screen and (max-width: 1139px) {
  .nav-container {
    display: none;
  }

  .header-logo {
    margin: 0
  }
}

@media all and (max-width: 770px) {
  span.units {
    display: block
  }
}

@media all and (max-width: 725px) {
  .results-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #map-section {
    display: none;
  }

  #map-container {
    min-height: auto;
  }

  .background-container .main-heading, .background-container .section-description {
    text-align: center;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: var(--color-background3);
    color: var(--color-gray-0);
    padding: 20px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -125px; /* Use half of the width to center the tooltip */
    text-align: left;
  }

  .ethernet-image {
    margin-left: 25px;
    margin-top: 10px;
  } 
  
  .router-image {
    margin-left: 30px;
  }
}

@media all and (min-width: 725px) {
  #map-disclaimer {
    display: none;
  }
}

@media all and (max-width: 550px) {
  .why-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  #history-table th, #history-table td {
    text-align: center;
  }

  #history-table td:nth-child(1), #history-table td:nth-child(2), #history-table td:nth-child(3), #history-table td:nth-child(4) {
    display: none;
  }
    
  #history-table th:nth-child(1), #history-table th:nth-child(2), #history-table th:nth-child(3), #history-table th:nth-child(4) {
    display: none;
  }

  #history-table th {
    font-size: var(--s-font);
    font-weight: bold;
  }
  
  #history-table td {
    font-size: var(--s-font);
  }

  span.units {
    display: inline-block
  }

  .main-heading {
    font-size: var(--font-size-heading2);
  }

  .section-heading {
    font-size: var(--font-size-heading3);
  }
  
  .section-subheading {
    font-size: var(--font-size-heading4);
  }

  .small-heading {
    text-align: center;
  }
}

@media all and (max-width: 480px) {
  .results-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .survey-question {
    font-size: var(--font-size-body0);
  }

  .list input, .list label, .list span, .list select {
    font-size: var(--font-size-body1);
  } 
}

@media all and (max-width: 355px) {
  :root {
    --section-padding: 20px;
  }

  .section-container {
    padding: 40px 20px 20px 20px;
  }

  .button-container {
    max-width: 230px;
  }
  
  .button-get-alert {
    max-width: 50px;
    font-size: 12px;
  }

  .remind-me-button {
    padding: 12px 12px;
    font-size: 12px;
  }

  .remind-me-container input{
    font-size: 12px;
  }

  .test-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }

  .main-heading, .test-heading {
    font-size: var(--font-size-heading3);
  }

  .test-subheading {
    font-size: var(--font-size-heading4);
  }

  .test-speed {
    font-size: var(--font-size-heading2);
  }

  .section-description {
    font-size: var(--font-size-body2);
  }

  .section-subheading {
    font-size: var(--font-size-body0);
  }

  .small-heading {
    font-size: var(--font-size-heading4);
  }

  .answer-option {
    width: 90px;
    height: 90px;
  }
}