.headerShareButtons {
  display: flex;
  align-items: center;
}

/* Add 5px space bettween all the share button icons */
.button:not(:last-child) {
  margin-right: 5px !important;
}

.button:last-child {
  margin-right: 16px !important;
}

.icon {
  filter: brightness(0) saturate(100%) invert(62%) sepia(9%) saturate(999%) hue-rotate(195deg) brightness(87%) contrast(88%);
}