.remindMeContainer {
    position: relative;
    width: 288px;
    height: 48px;
    border: 1px solid #323A46;
    border-radius: 4px;
    padding: auto;
}

.remindMeContainer input{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4B5768;
    display: flex;
    justify-content: center;
}

.buttonRemindMe {
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    padding: 12px 24px;
    background: #323A46;
    border: 2px solid #323A46;
    border-radius: 4px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.buttonRemindMe:hover{
    background: var(--color-4);
    border: 2px solid var(--color-4);
    color:#E6F1FF;
}

.remindMeContainer .buttonRemindMe:focus{
    outline: none;
}
.remindMeContainer .buttonRemindMe:focus{
    outline: none;
}